body {
  text-align: center;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-div {
  margin: auto;
}
.btn {
  border: 2px solid black;
  border-radius: 20%;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.line-one {
  display: flex;
  justify-content: center;
}
.line-two {
  display: flex;
  justify-content: center;
}
.red {
  background-color: #d95980;
}
.green {
  background-color: #63aac0;
}
.yellow {
  background-color: #f99b45;
}
.purple {
  background-color: #819ff9;
}
.flash {
  background-color: white;
}
.userflash {
  background-color: lightgreen;
}
.danger {
  background-color: red;
}
